
* {
    box-sizing: border-box;
}
.card-contact-wrapper{
    height: 495px;
}

.card-wrapper {
    position: relative;
    color: white;

}

.header-link {
    transition: 0.3s;
    color: #fff;
    font-size: 24px;
}

.contact-info a.text-white {
    transition: 0.3s;
}

.contact-info a.text-white:hover {
    color: #00FF38 !important;
}

.contact-input {
    border: 1px solid #c1c1c1 !important;
    border-top: none !important;
    border-left: none !important;
    border-right: none !important;
    border-radius: 0 !important;
    padding-left: 0 !important;
    /* margin-bottom: 50px; */
    outline: 0;
}

.contact_checkboxes {
    margin-left: 20px;
}

.checkbox_container {
    height: 150px;
}

.checkbox_label {
    margin: 5px 5px;
    display: block;
}


.input-label {
    font-weight: 600 !important;
}

.scroll_button_container img {
    animation-name: blink;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}


@keyframes blink {
    0% {opacity: 0.2;}
    25% {opacity: 0.5;}
    50% {opacity: 1;}
    75% {opacity: 0.5;}
    100% {opacity: 0.2;}
}

.icon-container {
    position: absolute;
    width: 100vw;
    padding-left: 640px;
    padding-right: 100px;
    bottom: 40px;
    display: flex;
    justify-content: space-between;
    text-align: center;
    padding-top: 20px;
}

.social-media {

    transition: 0.5s;
}

.social-media:first-child {
    margin-left: 0;
}

.social-media:hover {
    transform: translate(0, -8px);
}

.contact_linktree_icon {
    filter: brightness(100);
    position: relative;
    animation-name: contact-icon-bounce;
    animation-duration: 1.5s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
}

@keyframes contact-icon-bounce {
    0% {bottom: 0;}
    50% {bottom: 9px;}
    100% {bottom: 0;}
}

.submit {
    border: none;
    border-radius: 50px;
    background-color: #387846;
    color: #ffffff;
    font-weight: 600;
    transition-duration: 0.3s;
    margin-bottom: 20px;
    margin-top: 20px;
}

.submit:hover {
    background-color: #0cc935;
}



@media screen and (max-width: 640px) {
    .contact-header-wrapper {
        height: 100vh;
    }
   .card-contact-wrapper{
     height: 100vh;
}

    .contact-card-text {
        line-height: 50px;
        letter-spacing: 2px;
    }

    .icon-container {
        display: flex;
        justify-content: space-between;
        padding-left: 4px;
        padding-right: 4px;
        bottom: 5px;
        left: 5px;
        right: 5px;
        margin-top: 30px;
        margin-bottom: 5px;
    }

    /* .social-media {
        
        display: flex;
        justify-content: space-between;
    
    } */


    .submit {
        width: 95vw;
        margin-left: 10px;
        margin-right: 10px;
    }

}

