


.card-wrapper {
    position: relative;
    color: white;

}

.contact-input {
    border: 1px solid #c1c1c1 !important;
    border-top: none !important;
    border-left: none !important;
    border-right: none !important;
    border-radius: 0 !important;
    padding-left: 0 !important;
    /* margin-bottom: 50px; */
    outline: none;
}

.input-label {
    font-weight: 600 !important;
}

.icon-container {
    position: absolute;
    right: 100px;
    bottom: 40px;
    display: flex;
    justify-content: space-between;
    text-align: center;
    padding-top: 20px;
}

.social-media {
    margin-left: 50px;
    transition: 0.5s;
}

.social-media:first-child {
    margin-left: 0;
}

.social-media:hover {
    transform: translate(0, -8px);
}

.submit {
    border: none;
    border-radius: 50px;
    background-color: #00ff38;
    color: #121212;
    font-weight: 600;
    transition-duration: 0.3s;
}

.submit:hover {
    background-color: #0cc935;
}



@media screen and (max-width: 640px) {
    .icon-container {
        bottom: 5px;
        left: 5px;
        right: 5px;
        margin-top: 30px;
        margin-bottom: 5px;
    }

    .social-media {
        
        display: flex;
        justify-content: space-between;
    
    }

    .social-media img {
        width: 20px;
    }

}

