.link_tag {
    text-decoration: none;
}

a.text-black {
    text-decoration: none;
    transition: 0.3s;
}

.footer a.text-black:hover {
    color: #00FF38 !important;
    
}

.footer-link {
    transition: 0.3s;
    color: black;
    font-size: 22px;
}

.footer-link:hover {
    transform: scale(0.85, 0.85);
    color: black;
}


.contact_linktree_footer_icon {
    filter: brightness(0);
}

.footer-terms {
    display: flex;
    justify-content: center;
}

.footer-terms a {
    text-decoration: none;
    color: black;
}

.spacer20 {
    display: inline-block;
    width: 16px;
}

.spacer10 {
    display: inline-block;
    width: 10px;
}
