*{
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
  }

.ourhome-link { text-decoration: none;

    color: white;
}
.ourhome-link:hover{
    border: 3px solid #bebbbb;
}
.button-wrapa{
    display: flex;
    justify-content: center;
    align-items: center;
   
}
.button-wrapa-one{
    padding-right: 50px;
}
.home-button:hover{
    transform: scale(1.01);
    box-shadow: 0 10px 20px rgba(0,0,0,.12), 0 4px 8px rgba(0,0,0,.06);
    opacity: 0.8;

}
.linktree-container{
    position: relative;
    top: 80px;
    left: 35vw;
}

.linktree-wrapa{
    text-decoration: none;
    color: rgb(255, 255, 255);

}

.linktree-wrapa:hover{
    color: #387846;
}

.linktree-icon{
    position: relative;
    animation-name: linktreeicon;
    animation-duration: 1.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;

}
@keyframes linktreeicon{
    0% { left: 0;

    }
    50%{ left: 15px;

    }
    100%{
        left:0
    }
}


.do-content{
    transition: 0.3s;
}
.do-content:hover{
    transform: scale(0.99, 0.99);
}

.ourhome-row{
    height: 400px;
    margin-top: 20px;
    margin-bottom: 20px;
}
.img-col{
    height: 100%;
    margin: 0;
    padding: 10px;
    transition: 0.3s;
}
.img-col:hover{
   transform: scale(0.99, 0.99);
}

.img-container{
    height: 70%;
}
.img-container img{
    height: 100%;
    width: 100%;
}
.text-wrapa{
    background-color: #dfe6e1;
    color: rgb(17, 1, 1);
    height: 30%;
}
.text-wrapa h4{
    padding-top: 25px;
    padding-bottom: 25px;
}


.card_hover:hover{
    transform: scale(1.01);
    box-shadow: 0 10px 20px rgba(0,0,0,.12), 0 4px 8px rgba(0,0,0,.06);
    /* opacity: 0.7; */
}
.qoute-wrapa{
    text-decoration: none;
    color: black;
}
.qoute-wrapa:hover{
    color: #387846;
}
.qoute-arrow{
    font-size: 40px;
    font-weight: bold;
    position: relative;
    animation-name: arrowright;
    animation-duration: 1.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    
}

@keyframes arrowright{
    0% { left: 0;

    }
    50%{ left: 15px;

    }
    100%{
        left:0
    }
}

 @media screen and (max-width: 640px) {

   .home-header-wrapper{
    height: 0px;
   }
    .ourhome-container{
      margin-bottom: 20px;
    }
  

    .button-wrapa{
        display: inline-block;
       
    }
    .button-wrapa-one{
        padding-right: 0px;
    }

    .linktree-container{
        position: relative;
        top: 80px;
        left: 30vw;
    }
    
    .img-col{
        margin-bottom: 20px;     
    }
    .home-card-text{
        line-height: 30px;
        letter-spacing: 2px;
    }
    .do-content{
        width: 100% ;
        height: auto 
    }
    
 }



.cardcon {
    border-radius: 0; 
    height: 495px;
}

.cardcont1 {
    margin-top: 0;
}




.marg {
    margin-top: 180px; 
    color: #00FF38;
}

.caroimg {
    width: 100%;
    object-fit:cover;
    object-position:50% 50%;
}

.caroheight {
    height: 495px; 
    width: 100%;
}

@media (min-width: 100px) and (max-width: 567px){
    .cardcon {
        height: 678px;
    }

    .cardcont1 {
        margin-top: 0;
    }

    .caroheight {
        height: 679px; 
        
    }

    .eng {
        margin-top: 768px;
    }

    .marg {
        margin-top: 160px; 
        
    }
    
    

    
    
} 


  