@media screen and (max-width: 640px) {
    .team-header-wrapper {
        height: 100vh;
    }

    .team-card-text {
        line-height: 50px;
        letter-spacing: 2px;
    }
}

* {
    box-sizing: border-box;
}

.team-profile-img {
    width: 322px;
    height: 338px;
    object-fit: cover;
    object-position: 50% 20%;
}